
h3 {
    text-align: center;
}

.menu {
  position: absolute;
  padding: 10px;
  width:270px;
  left:9%;
  right: 5%;
  height: 420px;
  top: 10%;;
  z-index: 10;
  transition: 0.7s;
  border-radius: 9px;
  box-shadow: 5px 5px 5px #444;
}

#menu:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

#menu:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(17,17,17,0.8);
  z-index: -1;
}

.menu .closebtn {
    color: grey;
    position: absolute;
    float: right;
    top: 3px;
    right: 5px;
    font-size: 36px;
     transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}


.menu .closebtn:hover {
    color: lawngreen;
}

.catcher {
 padding-bottom: 20px;
}

.hr {
    color: grey;
}

.center {
    width:200px;
    margin:auto;
    text-align:center;
    padding:2px 6px 2px 6px;
}
